.cards {
  overflow: scroll;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-bottom: 10rem;

  .card {
    flex-grow: 1rem;
    flex-basis: 20rem;
    max-width: 30rem;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    background-color: rgb(47, 46, 46);
    border-radius: 0.75rem;
    color: rgb(243, 242, 242);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 100%;
      border-radius: 1rem;
    }
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }
    .description {
      opacity: 0.7;
      word-spacing: 0.4rem;
      line-height: 1.3rem;
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.55rem;
      .tag {
        background-color: #262c26b5;
        width: fit-content;
        padding-inline: 1.25rem;
        padding-block: 0.75rem;
        border-radius: 0.5rem;
        white-space: nowrap;
      }
    }
    .urls {
      display: flex;
      gap: 1rem;
      a {
        color: white;
      }
    }
  }
}
