nav {
  width: 100%;

  color: aliceblue;
  padding-inline: 0.75rem;
  padding-top: 0.5rem;
  background-color: rgba(102, 100, 100, 0.925);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  .left, .right {
    display: flex;
    gap: 1rem;
  }
}
.apple-icons {
  width: clamp(28px, 4vw, 40px);
  height: clamp(28px, 4vw, 40px);

  img,
  svg {
    width: 55%;
    height: 55%;
  }
}
.nav-icon {
  width: clamp(28px, 4vw, 40px);
  height: clamp(28px, 4vw, 40px);

  img,
  svg {
    width: 55%;
    height: 55%;
  }
}


.date-time {
  display: flex;
  gap: 1rem;
}