* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-image: url("./assets/mac.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}

.icon {
  width: clamp(36px, 5vw, 50px);
  height: clamp(36px, 5vw, 50px);
  // margin: clamp(6px, 1.5vw, 10px);
  border-radius: 50%;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 60%;
    height: 60%;
    object-fit: contain;
    border-radius: 50%;
  }
}
